body {
    background: url("../images/clouds.jpg") no-repeat fixed center;
    font-family: "Kdam Thmor Pro", sans-serif;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, #3462BB , #20094B);
    padding: 10px 0;
}

p {
    font-size: 1.3rem;
}

#content {
    margin: 10px;
}

#search {
    padding: 0;
}

.search-container {
    border-top: 2px solid black;
    padding: 10px 0;
    margin-top: 10px;
}

#search-button {
    background: linear-gradient(#2a89ee, #1e62aa);
}

#search-button:hover {
    background: linear-gradient(#1f8bff, #2a89ee);
}

#search-input {
    padding: 0.8rem 1rem;
}

#search-history {
    padding: 0;
    list-style: none;
}

#delete-button {
    background: linear-gradient(#cf0829, #96041d);
}

#delete-button:hover {
    background: linear-gradient(#fa0931, #cf0829);
}

.searched-city {
    background: linear-gradient(#425e7c, black);
    text-align: center;
    padding: 0.5rem;
    margin: 10px 0;
    font-size: 1.3rem;
}

.searched-city:hover {
    background: linear-gradient(#5b98d8, #425e7c);
}

.forecast-container {
    padding: 0 25px 10px 25px;
}

#city-display {
    height: 300px;
    background: linear-gradient(#379ae2, #09134b);
    border: 4px solid #ffc500;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

#five-day-forecast {
    height: 350px;
}

#city-display p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.text-bg-low {
    color:white;
    background-color: #2eb82e;
}

.text-bg-moderate {
    color:black;
    background-color: #ffd900;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.text-bg-high {
    color:black;
    background-color: #ff9100;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.text-bg-very-high {
    color:white;
    background-color: #cc2900;
};

.text-bg-extreme {
    color: white;
    background-color: #712cf9;
}

img {
    height: 60px;
    width: 60px;
}

.day-container {
    background: linear-gradient(#379ae2, #09134b);
    border: 4px solid #ffc500;
    border-radius: 10px;
    width: 17%;
    height: 290px;
    padding: 10px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

.day-container h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.day-container img {
    margin: 0 auto;
}

.day-container p {
    margin: 0.7rem 0;
}

.day-container p {
    margin: 0.7rem 0;
}
