body {
    background: url("../images/clouds.jpg") no-repeat fixed center;
    font-family: "Kdam Thmor Pro", sans-serif;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, #3462BB , #20094B);
    padding: 10px 0;
}

p {
    font-size: 1.3rem;
}

#content {
    --bs-gutter-x: 0;
}

/* Search Section */

#search {
    padding: 1rem 1rem 0 1rem;
    min-height: 100vh;
}

.search-container {
    border-top: 2px solid white;
    padding: 10px 0;
    margin-top: 10px;
}

#search-button {
    background: linear-gradient(#2a89ee, #1e62aa);
}

#search-button:hover {
    background: linear-gradient(#1f8bff, #2a89ee);
}

#search-input {
    padding: 0.8rem 1rem;
}

#search-history {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    gap: 20px;
}

#delete-button {
    background: linear-gradient(#cf0829, #96041d);
}

#delete-button:hover {
    background: linear-gradient(#fa0931, #cf0829);
}

.searched-city {
    background: linear-gradient(#53769c, #223141);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.searched-city:hover {
    background: linear-gradient(#5b98d8, #53769c);
}

/* Main Display */

.forecast-container {
    padding: 10px 25px;
}

#city-display {
    background: linear-gradient(rgb(55, 154, 226, 0.8), rgb(9, 19, 75, 0.75));
    border: 4px solid #ffc500;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

#city-display p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

/* UV Index */

.text-bg-low {
    background-color: #2eb82e;
}

.text-bg-moderate {
    color:black;
    background-color: #ffd900;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
}

.text-bg-high {
    color:black;
    background-color: #ff9100;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
}

.text-bg-very-high {
    background-color: #cc2900;
}

.text-bg-extreme {
    background-color: #8b51ff;
}

img {
    height: 60px;
    width: 60px;
}

/* 5-day Forecast */

.day-container {
    background: linear-gradient(rgb(55, 154, 226, 0.8), rgb(9, 19, 75, 0.75));
    border: 4px solid #ffc500;
    border-radius: 10px;
    width: 18%;
    padding: 10px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

.day-container h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.day-container img {
    margin: 0 auto;
}

.day-container p {
    margin: 0.7rem 0;
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    #search {
        min-height: auto;
    }

    .day-container h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 960px) {
    .day-container h3, .day-container p {
        font-size: 1rem;
    }
}